body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: darkred;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
header h1 {
    margin: 0;
}
h1{
    font-size: 25px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    background-color: black;
}
h1.titulo {
    font-size: 36px;
}
section {
    padding: 20px;
}
h2.r{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}
footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#trayectoria h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Garamond;
    color: #462b14;
}
#trayectoria p {
    font-family: sans-serif;
    font-size: 20px; 
    color: #462b14;
    font-weight: bold;
}
#trayectoria{
    background-color: #ffe4b1;
}
#discografia h2 {
    font-family: Garamond;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #ffc14a;


}
#discografia {
    background-color: #935a2b;
    text-align: center;
}
#discografia a {
    text-decoration: none;
    color: inherit;
}
#discografia a:hover{
    text-decoration: underline;
}
#musica{
    background-color: #ffa94a;
}
#musica h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: Garamond;
    color: #3e2c0f;
}
#premios h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Garamond;
    color: #2f2208;
}
#redes h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Garamond;
}
#musica p {
    font-family: sans-serif;
    font-size: 20px;
    color: #3e2c0f;
    font-weight: bold;
}
#redes p {
    font-family: sans-serif;
    font-size: 20px; 
}
#discografia p{
    font-family: sans-serif;
    font-size: 20px;
    color: #ffc14a;
    font-weight: bold;
}
#premios p {
    font-family: sans-serif;
    font-size: 20px;
    color: #2f2208;
    font-weight: bold;
}
#premios{
    background-color: #ffc14a;
}

.redes-sociales {
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    display: inline;
    margin: 0 10px;
}
.redes-sociales li i {
    font-size: 40px;
}
.premio img {
    width: 400px; 
    height: 400px;
    margin-top: 10px;
}
.premios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.premio {
    flex-basis: 45%;
    margin: 10px;
    text-align: center;
}
.bio-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #935a2b;
}
.bio-content {
    flex-basis: 70%;
    margin-right: 20px;
}
.bio-image img {
    max-width: 100%;
    height: auto;
}
.bio-content h2{
    color: #ffd5b1;
    text-align: center;
    font-size: 50px;
    font-family: Garamond;
}
.bio-content p{
    color: #ffd5b1;
    font-family: sans-serif;
    font-size: 20px; 
    font-weight: bold;
}
.imagen-trayectoria img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
}
.album {
    display: inline-block;
    margin: 20px;
}
.album img {
    width: 250px;
    height: 250px;
}
.arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}
.arriba:hover{
    background-color: white;
}
.fila {
    margin-bottom: 20px;
    display: flex;
}
.fila iframe {
    margin-right: 20px;
}
.fila:last-child {
    margin-bottom: 0;
}
.redes-sociales a i.fa-facebook {
    color: #1877f2;
}
.redes-sociales a i.fa-twitter {
    color: #1da1f2;
}
.redes-sociales a i.fa-instagram {
    color: #e4405f;
}
.redes-sociales a i.fa-youtube {
    color: #ff0000;
}
.redes-sociales a i.fa-tiktok {
    color: #000000; /* Color de TikTok (rojo oscuro) */
}
marquee a {
    text-decoration: none;
}

.linea {
    border-top: 4px solid #ffc14a;
    margin: 20px auto;
}

.lineas {
   border-top: 8px solid #ffc14a;
    margin: 20px auto;
}